<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Gerenciamento de Salas</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/salas">Salas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/disciplinas">Disciplinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/horarios">Horários</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  